*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: rgb(124, 123, 123);
    color: #79eeab;
}
header{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin: 40px;
}
header .link ul{
    display: flex;
    gap: 60px;
    list-style: none;
}
header .link ul a {
    text-decoration: none;
    color: #000;
    transition: 0.5s;
}
header .link ul a:hover {
    color: #79eeab;
}
main .conteudo{
    padding: 20px 30px;
    margin-top: 80px;  
    height: 130px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    font-size: 20px;
}

main{
    flex-direction: row-reverse;
    display: flex;
    margin: 150px;
    justify-content: space-evenly;
}

.imagem img{
    width: 350px;
    height: 350px;
    border-radius: 100%;
}
