.infor{
    display: flex;
    justify-content: space-around;
}
.co{ 
    width: 1000px;
    height: 300px;
    text-align: center;
    gap: 20px;
    margin: 30px;
}
.co .conteu{
    background-color: rgb(49, 53, 53);
    border-radius: 40px;
    padding: 20px 30px;
}
.co  h1{
    color: chartreuse;
    padding-bottom: 20px;
}
.co .conteu .infor div{
    border: 1px solid red;
    margin: 10px;
    border-radius: 20px;
    width: 350px;
    height: 350px;
}